@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

@model Gamal.ViewModel.BookletListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Student.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    <span style="font-size:10pt; font-weight:bold">Livret de:</span> <span style="font-size:10pt; font-weight:bold; color:red">@HttpContextAccessor.HttpContext.Session.GetString("UserFirstName") @HttpContextAccessor.HttpContext.Session.GetString("UserLastName") - [MAT.@HttpContextAccessor.HttpContext.Session.GetString("SerialNumber")]</span>
    <br />
    <span style="font-size:10pt; font-weight:bold">Moyenne Arithmétique: </span><span style="font-size:10pt; font-weight:bold; color:red"> @ViewBag.EverageMark/20</span>
    <br />
    <span style="font-size:10pt; font-weight:bold">Moyenne Pondérée: </span><span style="font-size:10pt; font-weight:bold; color:red"> @ViewBag.WeightedEverageMark/20 </span>
    <br />
    <br />
    <form method="get" asp-controller="Booklet" asp-action="Index">
        <div class="input-group">
            <input id="search" class="form-control" placeholder="Chercher une matière" asp-for="SearchTerm" />
            <select asp-for="Filter" class="input-group-append">
                <option value="all">Toutes les matières</option>
                <option value="passed">Matières passées</option>
                <option value="notpassed">Matières non passeés</option>
            </select>
            <div class="input-group-append">
                <button type="submit" class="btn1 btn-primary">Chercher</button>
            </div>
        </div>
    </form>
    <br />
    <div class="border border-#6D7B8D">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><span class="a-booklet" style="font-size:13pt">Activité Didactique</span></th>
                    <th scope="col"><span class="a-booklet" style="font-size:13pt">Année</span></th>
                    <th scope="col"><span class="a-booklet" style="font-size:13pt">Coefficient</span></th>
                    <th scope="col"><span class="a-booklet" style="font-size:13pt">Etat</span></th>
                    <th scope="col"><span class="a-booklet" style="font-size:13pt">AA Freq.</span></th>
                    <th scope="col"><span class="a-booklet" style="font-size:13pt">Note-Date Examen</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookletViewModels)
                {
                    <tr style="line-height: 0.6;">
                        <th scope="row">
                            <span style="font-size:13pt; color:indianred">
                                <a class="a-booklet" asp-route-courseId=@item.CourseCode asp-route-departmentCode=@item.DepartmentCode asp-controller="CourseDescription"
                                   asp-action="Index">
                                    @{ var course = char.ToUpper(item.Course[0]) + item.Course.Substring(1).ToLower();}
                                    @course
                                </a>
                            </span>
                        </th>
                        <td>1</td>
                        <td>@item.Weight</td>
                        <td>
                            @if (item.Status == true)
                            {
                                <figure class="circle-passed"></figure>
                            }
                            else
                            {
                                <figure class="circle-not-passed"></figure>
                            }
                        </td>
                        <td>
                            @if (item.Status == true)
                            {
                                <span style="font-size:9pt">@item.Year</span>
                            }
                            else
                            {
                                <span style="font-size: 9pt">AAAA</span>
                            }
                        </td>
                        <td>
                            @if (item.Status == true)
                            {
                                <span style="font-size:9pt">@item.Mark-@item.ExamDate?.ToString("dd/MM/yyyy")</span>
                            }
                            else
                            {
                                <span style="font-size: 9pt">En Cours</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    @Html.PagedListPager(Model.BookletViewModels, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
    <span style="font-size:10pt">Légende</span>
    <hr />
    <table>
        <tr>
            <td>
                <figure class="circle-passed"></figure>
            </td>
            <td>
                <span style="font-size:10pt"> Matrière Passée</span>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="circle-not-passed"></figure>
            </td>
            <td>
                <span style="font-size:10pt">  Matière Non Passée</span>
            </td>
        </tr>
    </table>
}

@section Scripts{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <link href="~/lib/jquery/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search').autocomplete({
                source: '/Administration/AutocompleteCourse'
            });
        });
    </script>
}

