
@{
    ViewData["Title"] = "Teacher";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}


@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size:14pt; color:#054e77">Inscriptions et Réinscriptions année academique 2019/2020</span>
    <br />
    <br />
    <div>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width:49%; float:left; border-left:5px solid #054e77">
            <div class="card-body">
                <p style="text-align:justify">
                    La procédure en ligne est ouverte pour demander une évaluation des diplômes de master de deuxième niveau. Pour savoir comment et les délais,
                    consultez les appels
                    <a  href="https://www.gamal.gn/admission.html">
                        <span style="font-weight: bold; color:#054e77;">(https://www.gamal.gn/admission-Lau2V.html)</span>
                    </a>
                    Des appels à l'accès à des formations diplômantes en nombre limité sont publiés. Pour plus d'informations, consultez
                    la page dédiée <a class="href=https: //www.unimore.it/bandi/StuLau.html"><span style="font-weight:bold; color:#054e77">(https: //www.unimore.it/bandi/StuLau.html)</span></a>.
                    Pour vous inscrire à un cursus en libre accès, consultez la page dédiée <a href="https://www.gamal.gn/admission/immaiscLLMCUAL.html"><span style="font-weight:bold; color:#054e77">(https://www.gamal.fr/admission/immaiscLLMCUAL.html)</span></a>  .
                </p>
            </div>
        </div>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width:49%; float:right; border-left: 5px solid #054e77">
            <div class="card-body">
                <p style="text-align:justify">
                    Pour vous inscrire, vous devez payer le premier versement de bourses universitaires. L'étudiant recevra une confirmation de l'inscription par SMS et e-mail à l'adresse e-mail personnelle définie et le compte e-mail Unimore auquel les communications institutionnelles seront envoyées sera activé. Après cinq jours à compter de la réception de la communication, l'étudiant doit se rendre en personne au bureau de l'administration des étudiants pour récupérer la carte d'étudiant
                    Pour plus d'informations, écrivez à <span style="font-weight:bold; color:#054e77">informastudenti @Html.Raw("@")unimore.it.</span>
                </p>
            </div>
        </div>
    </div>
}

