
@{
    ViewData["Title"] = "Teacher";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}

@section UserFirstName{
    @ViewBag.FirstName
}

@section UserLastName{
    @ViewBag.LastName
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
    <span style="font-size:20pt;">Zone réservée de l'enseignant </span><span style="font-size:20pt;">@{@ViewBag.FirstName} @{@ViewBag.LastName}-[MAT. @ViewBag.SerialNumber]</span>
    <br />
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size:20pt; color:red">Direction du service pour les étudiants - Services Didactiques</span>
    <br />
    <br />
    <span style="color:black; font-size:20pt; border-bottom:5px solid red">ESSE4</span>
    <br />
    <br />
    <span style="font-size:20pt">INSCRIPTIONS ET REINSCRIPTIONS ANNÉE ACADÉMIQUE 2019/2020</span>
    <br />
    <br />
    <p>
        La procédure en ligne est ouverte pour demander une évaluation des diplômes de master de deuxième niveau. Pour savoir comment et les délais, consultez les appels <a class="a-secretary" href="https://www.gamal.gn/admission.html">
            <span style="font-weight:bold; color:red;">(https://www.gamal.gn/admission-Lau2V.html)</span>
        </a> Des appels à l'accès à des formations diplômantes en nombre limité sont publiés. Pour plus d'informations, consultez la page dédiée <span style="font-weight:bold; color:red"><a class="a-secretary" href="https: //www.unimore.it/bandi/StuLau.html">(https: //www.unimore.it/bandi/StuLau.html)</a></span>.
        Pour vous inscrire à un cursus en libre accès, consultez la page dédiée <span style="font-weight:bold; color:red"><a class="a-secretary" href="https://www.gamal.gn/admission/immaiscLLMCUAL.html">(https://www.gamal.fr/admission/immaiscLLMCUAL.html)</a> </span> .
    </p>
    <br />
    <p>
        Pour vous inscrire, vous devez payer le premier versement de bourses universitaires. L'étudiant recevra une confirmation de l'inscription par SMS et e-mail à l'adresse e-mail personnelle définie et le compte e-mail Unimore auquel les communications institutionnelles seront envoyées sera activé. Après cinq jours à compter de la réception de la communication, l'étudiant doit se rendre en personne au bureau de l'administration des étudiants pour récupérer la carte d'étudiant
        Pour plus d'informations, écrivez à <span style="font-weight:bold; color:red">informastudenti @Html.Raw("@")unimore.it</span>
    </p>

}

