@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secretary</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gamal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: #F2F4F4;
            height: 100%;
        }

        .circle-passed {
        display: block;
        background: Green;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin: 0;
        }

        .circle-scheduled {
        display: block;
        background: #7E3117;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin: 0;
        }

        .circle-attended {
        display: block;
        background: #FDD017;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin: 0;
        }

        .first-letter {
        font-size: 15px;
        line-height: 25px;
        font-weight: bold;
        color: black;
        }

	 	.btn1 {
	 		background-color: #054e77;
	 		width: 150px;
	 		color: white;
	 		border: 1px solid #054e77;
	 		border-radius: 0px;
	 	}

        .btn1:disabled {
        background-color: #25587E;
        color: white;
        border: 1px solid #25587E;
        }

        .btn1:hover {
        background-color: #25587E;
        color: white;
        border: 1px solid #25587E;
        }

	 	   .btn2 {
	 		   background-color: #054e77;
	 		   width: 350px;
	 		   color: white;
	 		   border: 1px solid #054e77;
	 		   border-radius: 0px;
	 	   }

        .btn2:disabled {
        background-color: #25587E;
        color: white;
        border: 1px solid #25587E;
        }

      .btn2:hover {
      background-color: #25587E;
      color: white;
      border: 1px solid #25587E;
      }
	 	
	 	btn2:active:focus {
	 		background-color: #25587E;
	 	}
	 	btn2:active {
	 		background-color: #25587E;
	 	}
        .td {
        border-left-style: solid;
        border-left-color: #25587E;
        border-left-width: 12px;
        line-height: 0.5;
        }

        .td1 {
        line-height: 0.5;
        }

        .th1 {
        line-height: 0.5;
        }

        .a {
        font-size: 12pt;
        color: black;
        }

        .aheader {
        font-size: 12pt;
        color: black;
        }

        .aheader:hover {
        text-decoration: underline;
        color: black;
        }

        .a:hover {
        text-decoration-line: none;
        text-decoration: none;
        color: white;
        }

        .tr:hover {
        background-color: #25587E;
        color: white;
        }

        tr:hover td > a {
        background-color: #25587E;
        color: white;
        font-size: 12pt;
        }

        .a-secretary {
        text-decoration: none;
        color: #054e77;
        }

        .a-secretary:hover {
        text-decoration-color:#054e77;
        color: #054e77;
        }

        .a-booklet {
        color: red;
        }

        .a-booklet:hover {
        text-decoration: underline;
        color: #616D7E
        }

        .a-link {
        color: red;
        }

        .a-link:hover {
        text-decoration: underline;
        color: #616D7E
        }

        .div {
        overflow-x: hidden;
        overflow: scroll;
        }

        .my-card {
        padding: 0 !important;
        }

        .banner {
            display: block;
            width: 100%;
        }

        .my-div {
            height: 10px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
                @RenderSection("container", required: true)
            <div class="my-div">
                <div style="width: 100%; padding:0px; margin:0px;">
                    <img src="~/images/uganc-logo.png" style="width:100%" />
                </div>
                <div class="row" style="margin:0px; padding:0px; min-height:700px">
                    <div class="col-lg-3 col-md-3 col-sm-12" style="padding:0px">
                        <div class="card" style="padding: 0px; ">
                            <div class="card-header" style="background-color:#054e77;height: 50px;margin: 0px;padding: 0px">
                            </div>
                            <div class="card-body" style="height:700px;">
                               @{ 
											 string path1 = String.Empty;
                               }
                               @if (String.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("ProfilePath")))
										 {
											  path1 = "/profiles/no-user.jpg";
										 }else{
                                     path1 = "/profiles/" + @HttpContextAccessor.HttpContext.Session.GetString("ProfilePath");
                                }
                                <a asp-action="UpdateProfile" asp-controller="Administration">
                                    <img src="@path1" width="100" height="100" style="border-radius:50%; margin-left:38%; margin-top:-40px; border:1px solid white" />
                                </a>
                                <h6 style="text-align:center; font-family:'Times New Roman'; color:#150517">@HttpContextAccessor.HttpContext.Session.GetString("UserLastName")</h6>
                                <h6 style="text-align:center; font-family:'Times New Roman'; color:#150517">@HttpContextAccessor.HttpContext.Session.GetString("UserFirstName")</h6>
                               
                                @RenderSection("leftPanelHeader", required: true)
                                <div style="margin-left:50px">
                                    <a class="aheader" asp-controller="Account" asp-action="Logout">Deconnexion</a><br />
                                    <a class="aheader" asp-controller="Secretary" asp-action="Home">Zone Reservée</a><br />
                                    <a class="aheader" asp-controller="Account" asp-action="ChangePassword">Changer mot de passe</a><br />
                                    <a class="aheader" href="#">@HttpContextAccessor.HttpContext.Session.GetString("Email")</a>
                                </div>
                                    
                                @RenderSection("leftPanelBody", required: true)
                                <table class="table" style="font-size: 10pt; margin-top: 10px; color:#250517">
											  <tbody>
											  	<tr class="tr">
											  		<td class="td"> <a class="a" asp-controller="Secretary" asp-action="Home">Home</a></td>
											  	</tr>
											  	<tr class="tr">
											  		<td class="td"> <a class="a" asp-controller="StudentRegistration" asp-action="Index">Inscription Etudiants</a></td>
											  	</tr>
											  	<tr class="tr">
											  		<td class="td"> <a class="a" asp-controller="TeacherRegistration" asp-action="Index">Enregistrement Enseignants</a></td>
											  	</tr>
											  	<tr class="tr">
											  		<td class="td"> <a class="a" asp-controller="SecretaryRegistration" asp-action="Index">Enregistrement Secrétaire</a></td>
											  	</tr>
											  	<tr class="tr">
											  		<td class="td"><a class="a" asp-controller="ExamSession" asp-action="ExamSession">Ajouter une Session d'Examen</a></td>
											  	</tr>
											  	<tr class="tr">
											  		<td class="td"> <a class="a" asp-controller="Administration" asp-action="SecretaryFees">Taxes</a></td>
											  	</tr>
											  	<tr class="tr">
											  		<td class="td"> <a class="a" asp-controller="Administration" asp-action="EnrollmentCertificate">Certificat d'inscription</a></td>
											  	</tr>
											  </tbody>
                                </table>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12" style="border:0px solid red; padding:0px">
                        <div class="card" style="padding:0px; ">
                            <div class="card-header text-center" style="background-color: #054e77; height: 50px;">
                                <span style="font-size:15pt; color:white; font-family:'Times New Roman'">Zone réservée du secrétaire @HttpContextAccessor.HttpContext.Session.GetString("UserFirstName") @HttpContextAccessor.HttpContext.Session.GetString("UserLastName") @{@ViewBag.LastName}-[MAT.@HttpContextAccessor.HttpContext.Session.GetString("SerialNumber")]</span>
                                @RenderSection("middlePanelHeader", required: true)
                            </div>
                            <div class="card-body text-center" style="height:700px;">
                                <span style="font-size:18pt; font-weight:100; color:#054e77; font-family:'Arial'">Direction du service pour les étudiants - Services Didactiques</span>
                                <br />
                                @RenderSection("middlePanelBody", required: true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </main>
            </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Gamal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
