@model Gamal.ViewModel.UploadToDollyViewModel
@{
	ViewData["Title"] = "AddToDolly";
	Layout = "~/Views/Shared/_Teacher.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{

	<span style="font-size: 14pt;color: #054e77">Didactique en ligne Année Académique 2019/2020</span>
	<br />
	@if (!String.IsNullOrEmpty(@ViewBag.Error))
	{
		<span style="color:red; font-weight:bold">@ViewBag.Error</span>
	}
	@if (!String.IsNullOrEmpty(@ViewBag.Message))
	{
		<span style="color:green; font-weight:bold">@ViewBag.Message</span>
	}
	<br />
	<div style="width:100%;">
		<div style="width:48%; float:left; border-left:5px solid #054e77; border-bottom:1px solid #e9ecef; border-right:1px solid #e9ecef; border-top:1px solid #e9ecef;padding:10px; margin-bottom:10px;">
			<span style="color:#054e77">Inserer un fichier au format PDF</span>
			<br />
			<form enctype="multipart/form-data" asp-route-courseCode="@Model.CourseCode" method="post">
				<div class="form-group">
					<input asp-for="PDFFileName" class="form-control fr-date-datepicker" placeholder="Inserer le nom du fichier">
					<span asp-validation-for="PDFFileName" style="float:left" class="text-danger"></span>
				</div>
				<input type="hidden" id="serialNumber" name="serialNumber" value="@ViewBag.SerialNumber">
				<input type="hidden" id="courseCode" name="courseCode" value="@Model.CourseCode">
				<input type="hidden" id="departmentCode" name="departmentCode" value="@Model.DepartmentCode">
				<div class="custom-file">
					<input asp-for="PDFFileToUpload" class="form-control custom-file-input">
					<label class="custom-file-label">Choisr le Fichier....</label>
				</div>
				<br />
				<br />
				<button type="submit" name="button" value="first" class="btn1 btn btn-primary" style="float:right">Charger</button>
			</form>
		</div>
		<div style="width:48%; float:right; border-left:5px solid #054e77; border-bottom:1px solid #e9ecef; border-right:1px solid #e9ecef; border-top:1px solid #e9ecef;padding:10px; margin-bottom:10px;">
			<span style="color:#054e77">Inserer un fichier au format MP4</span>
			<br />
			<form enctype="multipart/form-data" asp-action="UploadVideo" asp-controller="Administration" asp-route-courseCode="@Model.CourseCode" method="post">
				<div class="form-group">
					<input asp-for="VideoFileName" class="form-control fr-date-datepicker" placeholder="Inserer le nom du fichier">
					<span asp-validation-for="VideoFileName" style="float:left" class="text-danger"></span>
				</div>
				<input type="hidden" id="serialNumber" name="serialNumber" value="@ViewBag.SerialNumber">
				<input type="hidden" id="courseCode" name="courseCode" value="@Model.CourseCode">
				<input type="hidden" id="departmentCode" name="departmentCode" value="@Model.DepartmentCode">
				<div class="custom-file">
					<input asp-for="VideoFileToUpload" class="form-control custom-file-input">
					<label class="custom-file-label">Choisr le Fichier....</label>
				</div>
				<br />
				<br />
				<button type="submit" name="button" value="second" class="btn1 btn btn-primary" style="float:right">Charger</button>
			</form>
		</div>
	</div>
	<br />
   <br />
	<div style="width:100%;">
		<table class="table table-bordered">
			<thead style="background-color:#E9ECEF; color:#054e77; font-weight:bold; height:40px;">
				<tr>
					<td style="text-align:center" align="center" width="33%" scope="col">Liste Materiels Format PDF</td>
					<td style="text-align:center" align="center" width="33%" scope="col">Modification</td>
					<td style="text-align:center" align="center" width="33%" scope="col">Suppression</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var material in Model.Dollies)
				{
					var path = "/dolly/" + @material.FilePath;
					<tr>
						<td align="center" scope="col" style="color:red; text-align:center">
							<span style="color:indianred">
								<a class="aa" href=@path>@material.FileName</a>
							</span>
						</td>
						<td align="center">
							<a asp-controller="Administration"
								asp-action="UpdateFromDolly" asp-route-id="@material.Id" asp-route-courseCode="@Model.CourseCode" asp-route-departmentCode="@Model.DepartmentCode" class="btn1 btn btn-primary">Modifier</a>
						</td>
						<td align="center">
							<form asp-controller="Administration"
									asp-action="RemoveFromDolly" asp-route-fileType="pdf" asp-route-id="@material.Id" asp-route-courseCode="@Model.CourseCode" asp-route-departmentCode="@Model.DepartmentCode" method="post">
								<span id="confirmDeleteSpan_@material.Id" style="display:none">
									<span>Confirmer la suppression</span>
									<button type="submit" class="btn btn-danger">
										OUI
									</button>
									<a href="#" onclick="confirmDelete(@material.Id, false)" class="btn3 btn btn-primary">NON</a>
								</span>
								<span id="deleteSpan_@material.Id">
									<a onclick="confirmDelete(@material.Id, true)"
										class="btn1 btn btn-primary" style="color:white">Supprimer</a>
								</span>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<br />
		<table class="table table-bordered">
			<thead style="background-color:#E9ECEF; color:#054e77; font-weight:bold; height:40px;">
				<tr style="height:30px; background-color:#E9ECEF">
					<td style="text-align:center" align="center" width="33%" scope="col">Liste Materiels format Vidéo</td>
					<td style="text-align:center" align="center" width="33%" scope="col">Modification</td>
					<td style="text-align:center" align="center" width="33%" scope="col">Suppression</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var material in Model.DollyVideos)
				{
					var path = "/dolly_videos/" + @material.FilePath;
					<tr>
						<td align="center" scope="col" style="color:red; text-align:center">
							<span style="color:indianred">
								<a class="aa" href=@path>@material.FileName</a>
							</span>
						</td>
						<td align="center">
							<a asp-controller="Administration"
								asp-action="UpdateFromDollyVideo" asp-route-id="@material.Id"
								asp-route-courseCode="@Model.CourseCode" asp-route-departmentCode="@Model.DepartmentCode"
								class="btn1 btn btn-primary">Modifier</a>
						</td>
						<td align="center">
							<form asp-controller="Administration"
									asp-action="RemoveFromDolly" asp-route-fileType="video" asp-route-id="@material.Id" asp-route-courseCode="@Model.CourseCode" asp-route-departmentCode="@Model.DepartmentCode" method="post">
								<span id="confirmDeleteSpan_@material.Id" style="display:none">
									<span>Confirmer la suppression</span>
									<button type="submit" class="btn btn-danger">
										OUI
									</button>
									<a href="#" onclick="confirmDelete(@material.Id, false)" class="btn3 btn btn-primary">NON</a>
								</span>
								<span id="deleteSpan_@material.Id">
									<a onclick="confirmDelete(@material.Id, true)"
										class="btn1 btn btn-primary" style="color:white">Supprimer</a>
								</span>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@section Scripts{

	<script>
		function confirmDelete(uniqueId, isChecked) {

			var deleteSpan = 'deleteSpan_' + uniqueId;
			var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;
			if (isChecked) {
				$('#' + deleteSpan).hide();
				$('#' + confirmDeleteSpan).show();
			} else {
				$('#' + deleteSpan).show();
				$('#' + confirmDeleteSpan).hide();
			}
		}

		$(document).ready(function () {
			$('.custom-file-input').on("change", function () {
				var fileName = $(this).val().split("\\").pop();
				$(this).next('.custom-file-label').html(fileName);
			});
		});
	</script>

}


