@model List<Gamal.Models.Domain.Exam>
@{
    ViewData["Title"] = "TeacherCallForExam";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size:15pt">GESTION DES APPELS D'EXAMENS</span>
    <br />
    <p>
        <span style="font-size:15pt">Ci-dessous vous pouvez ajouter ou supprimer des APPELS d'examen </span>
    </p>
    <br />
    <p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <a asp-controller="Administration"
                           asp-action="AddExam" class="btn2 btn btn-primary">Ajouter un appel d'Examen</a>
                    </th>
                </tr>
            </thead>
        </table>
        <br />

        <span>Liste des appels d'exam</span>
        <br />
        @if (Model.Count() == 0)
        {
            <span style="color:red"> Aucun appel d'examens n'est disponible</span>
        }
        else
        {
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Matière</th>
                        <th scope="col">Description</th>
                        <th scope="col">Salle</th>
                        <th scope="col">Date</th>
                        <th scope="col">Heure</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exam in @Model)
                    {
                        <tr>
                            <th scope="row">
                                <span style="font-size:11pt; color:indianred">
                                    <a style="background-color:#25383C" asp-route-examId=@exam.ExamId asp-controller="Administration"
                                       asp-action="ExamEnrollment">
                                        @exam.Name.ToLower()
                                    </a>

                                </span>
                            </th>
                            <td>@exam.Description</td>
                            <td>@exam.Classroom</td>
                            <td>@exam.Date</td>
                            <td>@exam.Hour</td>
                            <td>
                                <a asp-controller="ExamSession"
                                   asp-action="Index" class="btn btn-primary" style="background-color:#BEBEBE; color:black; border:1px solid #BEBEBE;">Supprimer l'appel d'Examen</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
}



