@model List<Gamal.Models.Domain.StudentFee>
@{
    ViewData["Title"] = "Fees";
    Layout = "~/Views/Shared/_Student.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <h6 style="text-align:center; color:green">
            @ViewBag.Message
        </h6>
    }

    <span style="font-size:18pt; border-bottom: 3px solid red; text-align:center"> Liste des Taxes</span>
    <br />
    <br />
    <span style="font-size:15pt">
        Cette page affiche la liste des taxes et le montant correspondant.
        Pour consulter les informations complètes concernant les nouveaux modes de paiement des frais universitaires, cliquez ici.
    </span> 
    <br />
    <br />
    <fieldset class="border p-3" style="border:3px solid red">
        <legend class="w-auto" style="font-size:10pt; font-weight:bold;">Liste des taxes</legend>
        <table class="table">
            <thead class="thead-light">
                <tr class="td1">
                    <th scope="col"><span style="color:#150517">Année Académique</span></th>
                    <th><span style="color:#150517">Date début de payement</span></th>
                    <th><span style="color:#250517">Date de payement</span></th>
                    <th><span style="color:#150517">Date d'expiration</span></th>
                    <th><span style="color:#150517">Somme</span></th>
                    <th><span style="color:#150517">Etat du payement</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="td1">
                    <td scope="col">
                        <span style="font-size:11pt; color:indianred">
                            <a class="a-link" asp-controller="Administration"
                               asp-action="Fees">
                                @{
                                    var date = item.AccademicYear.AddYears(1);
                                }
                                @item.AccademicYear.ToString("yyyy")/@date.ToString("yyyy")
                            </a>
                        </span>
                    </td>
                    <td>@item.StartDate.ToString("dd/mm/yyyy")</td>
                    <td>@item.PayementDate.ToString("dd/mm/yyyy")</td>
                    <td>@item.ExpirationDate.ToString("dd/mm/yyyy")</td>
                    <td>
                        @item.Ammount FG
                    </td>
                    <td>
                        <img src="~/images/active-icon.png" width="25px" height="25px" />
                        Payement confirmé
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </fieldset>
}


