@model Gamal.ViewModel.RegisterMarkViewModel
@{
    ViewData["Title"] = "RegisterMark";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    <span style="font-size:15pt; color:#054e77">ENREGISTREMENT DES NOTES ANNÉE ACADÉMIQUE 2019/2020</span>
    <br />
    <br />

    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold; float:left">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold; float:left">@ViewBag.Message</span>
    }
    <br />
	 <div style="height:280px; border-left: 5px solid #054e77; padding:10px;border-top: 1px solid #e9ecef; padding:10px; border-bottom: 1px solid #e9ecef; padding:10px; border-right: 1px solid #e9ecef; padding:10px;">
		 <span style="font-size:14pt; color:#054e77">Inserer le nom ou le numero matricule de l'étudiant et choisir la note</span>
		 <br />
		 <br />
		 <form asp-controller="Administration" asp-action="RegisterMark" method="post">
	 			<div class="form-group">
	 				<input id="search" asp-for="Student" class="form-control fr-date-datepicker" placeholder="Inserer le nom de l'étudiant">
	 				<span asp-validation-for="Student" style="float:left" class="text-danger"></span>
	 			</div>
	 			<div class="form-group">
	 				@Html.DropDownListFor(model => model.CourseName, Model.AllCourses as SelectList, "Selectioner la matière", new { @class = "form-control" })
	 			   <span asp-validation-for="CourseName" style="float:left" class="text-danger"></span>
	 			</div>
	 			<div class="form-group">
	 				@Html.DropDownListFor(model => model.Mark, Model.AllMarks as SelectList, "Selectioner la note", new { @class = "form-control" })
	 			<span asp-validation-for="Mark" style="float:left" class="text-danger"></span>
				</div>
				<span id="confirmAddMarkSpan" style="display:none">
	 				<span>Vous etes sur de vouloir attribuer la note?</span>
	 				<button type="submit" class="btn btn-danger">
	 					OUI
	 				</button>
	 				<a href="#" onclick="confirmAddMark(false)" class="confirm-btn btn btn-primary">NON</a>
				</span>
				<span id="addMarkSpan">
	 				<a href="#" onclick="confirmAddMark(true)" class="btn1 btn btn-primary" style="float:right">Enregister</a>
				</span>
		   </form>
	 </div>
    
}

@section Scripts{
    <script src="~/js/custom.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <link href="~/lib/jquery/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search').autocomplete({
                source: '/Administration/AutocompleteStudent'
            });
        });
    </script>
 }

