@model Gamal.ViewModel.StudentEnrollmentViewModel;
@{
    ViewData["Title"] = "StudentEnrollment";
    Layout = "~/Views/Shared/_Student.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <h6 style="text-align:center; color:green">
            @ViewBag.Message
        </h6>
    }

    <span style="font-size:14pt; color:#054e77; text-align:center;">Vous trouverez ci-dessous des informations générales sur la situation universitaire et sur les inscriptions effectuées au fil des ans.</span>
    <br />
    <br />
    <fieldset class="border p-3">
        <legend class="w-auto" style="font-size:12pt; color:#054e77; float:left; font-weight:bold; border-bottom: 3px solid #ff5733">Détail d'inscription @Model.AccademicYear</legend>
        <table class="table">
            <tbody>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left;">Année Académique</span></td>
                    <td ><span style="float:left; color:#054e77">@Model.AccademicYear</span></td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left;">Date d'inscription</span></td>
                    <td><span style="float:left; color:#054e77">@Model.EnrollmentYear</span> </td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left;">Département</span></td>
                    <td><span style="float:left; color:#054e77">@Model.Department</span></td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left;">Année en cours</span></td>
                    <td><span style="float:left; color:#054e77">@Model.Year</span></td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left;">Type d'inscription</span></td>
                    <td>
                        <span style="float:left; color:#054e77">
                            @if (Model.PartTime)
                            {
                                <span>SI</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }
                        </span>
                    </td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left;">Etat</span></td>
                    <td>
                        <span style="float:left; color:#054e77">
                            @if (Model.State)
                            {
                                <img src="~/images/active-icon.png" width="25" height="25" />
                                <span>ACTIF</span>
                            }
                            else
                            {
                                <span>NON ACTIF</span>
                            }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br />
    <br />
    <fieldset class="border p-3" style="border:3px solid red">
        <legend class="w-auto" style="font-size:12pt; float:left; color:#054e77; font-weight:bold;">Liste des inscriptions</legend>
        <table class="table" style="border:1px solid #E9ECEF">
            <thead class="thead-light">
                <tr>
                    <th><span style="color:#054e77">Année Académique</span></th>
                    <th><span style="color:#054e77">Date d'inscription</span></th>
                    <th><span style="color:#054e77">Département</span></th>
                    <th><span style="color:#054e77">Type d'inscription</span></th>
                    <th><span style="color:#054e77">Année en cours</span></th>
                    <th><span style="color:#054e77">Etat</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="td1">
                    <td scope="col">
                        <span style="font-size:12pt; color:#ff5733">
                            <a style="color: #054e77" asp-controller="Administration"
                               asp-action="StudentEnrollment">
                                @Model.AccademicYear
                            </a>
                        </span>
                    </td>
                    <td><span style="color:#054e77">@Model.EnrollmentYear</span></td>
                    <td><span style="color:#054e77">@Model.Department</span></td>
                    <td><span style="color:#054e77">@Model.Year</span></td>
                    <td><span style="color:#054e77">
                        @if (Model.PartTime)
                        {
                            <span>SI</span>
                        }
                        else
                        {
                            <span>NO</span>
                        }
                       </span>
                    </td>
                    <td>
                       <span style="color:#054e77">
                           @if (Model.State)
                           {
                               <img src="~/images/active-icon.png" style="width:25px; height:25px" />
                               <span>ACTIF</span>
                           }
                           else
                           {
                               <span>
                                   NON ACTIF
                               </span>
                           }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
}

