@model List<Gamal.Models.Domain.Dolly>
@{
    ViewData["Title"] = "StudentCourseDolly";
    Layout = "~/Views/Shared/_Student.cshtml";
}

@section UserFirstName{
    @ViewBag.FirstName
}

@section UserLastName{
    @ViewBag.LastName
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
    <span style="font-size:22pt;">Zone réservée de l'étudiant </span><span style="font-size:20pt;">@{@ViewBag.FirstName} @{@ViewBag.LastName}-[MAT. @ViewBag.SerialNumber]</span>
    <br />
    <br />
}

@section middlePanelBody
{
    <span style="font-size:15pt;">Le matériel didactique et pédagogique : soutien à l’appropriation ou déterminant de l’intervention éducative </span>
    <br />
    <span style="font-size:15pt;">Vous trouverez ci-dessous le matériel didactiques relatifs aux différentes matières</span> <span style="font-weight:bold">@ViewBag.Course</span>
    <br />
    <br />
    @if (Model.Count == 0)
    {
        <span style="font-size:15pt; font-weight:bold">Aucun matériel didactique n'est disponible pour le moment</span>
    }
    else
    {
        <table class="table" style="text-align:center">
            <tbody>
                @foreach (var dolly in Model)
                {
                    var path = "/dolly/" + @dolly.FilePath;
                    <tr class="td1">
                        <th scope="col" style="color:red">
                            <span style="font-size:20pt; color:indianred">
                                <a class="a-booklet" href=@path>@dolly.FileName</a>
                            </span>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
}


