@model List<Gamal.Models.Domain.Course>
@{
    ViewData["Title"] = "TeacherDolly";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}


@section UserFirstName{
    @ViewBag.FirstName
}

@section UserLastName{
    @ViewBag.LastName
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
    <span style="font-size:20pt;">Zone réservée de l'enseignant </span><span style="font-size:20pt;">@{@ViewBag.FirstName} @{@ViewBag.LastName}-[MAT. @ViewBag.SerialNumber]</span>
    <br />
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size:20pt; color:red">Direction du service pour les étudiants - Services Didactiques</span>
    <br />
    <br />
    <span style="color:black; font-size:20pt; border-bottom:5px solid red">ESSE4</span>
    <br />
    <br />
    <span style="font-size:20pt">DIDACTIQUE EN LIGNE ANNÉE ACADÉMIQUE 2019/2020</span>
    <br />
    <br />
    <p>
        <span style="font-size:18pt">
            Vous trouverez ci-dessous la liste des matières que vous dispensez. Choisissez une matière et chargez du matériel didactique sur les servers
        </span>
    </p>

    @foreach (var course in @Model)
    {
        <span style="font-size:18pt; color:indianred">
            <a class="aa" asp-route-courseCode=@course.CourseCode asp-route-departmentCode=@course.DepartmentCode asp-controller="Administration"
                asp-action="AddToDolly">
                @course.CourseName.ToLower()
            </a>
            <br />
        </span>
     }


}


