@model Gamal.ViewModel.StudentHomeViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Student.cshtml";
}

@section container{
}

@section leftPanelHeader{
}

@section leftPanelBody
{
}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <h6 style="text-align:center; color:green">
            @ViewBag.Message
        </h6>
    }

    <span style="font-size:14pt; color:#054e77;">
        Vous trouverez ci-dessous des informations générales sur votre situation universitaire et sur vos inscriptions effectuées au fil des ans.
    </span>
    <br />
    <br />
    <fieldset class="border p-3" style="border:3px solid red">
        <legend class="w-auto" style="font-size:14pt; color:#054e77; float:left; font-weight:bold; border-bottom: 5px solid #ff5733">Informations sur l'étudiant</legend>
        <table class="table">
            <tbody>
                <tr class="">
                    <td scope="col"><span style="color:#054e77; float:left;">Type de Course</span></td>
                    <td scope="col"><span style="float: left; color:#054e77;">@Model.CourseType</span></td>
                </tr>
                <tr>
                    <td class="td1"><span style="color:#054e77; float:left;">Profile de l'Etudiant</span></td>
                    <td class="td1"><span style="float: left; color:#054e77;">@Model.StudentProfile</span></td>
                </tr>
                <tr>
                    <td class="td1"><span style="color:#054e77; float:left;">Année en Cours</span></td>
                    <td class="td1">
							  <span style="float: left; color:#054e77;"> @Model.CurrentYear</span>
                    </td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left">Date d'Immatriculation</span></td>
                    <td>
							  <span style="float: left; color:#054e77;">@Model.EnrollmentYear</span>
                    </td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left">Département</span></td>
                    <td><span style="float: left; color:#054e77;">@Model.Course</span></td>
                </tr>
                <tr class="td1">
                    <td><span style="color:#054e77; float:left">Part Time</span></td>
                    <td><span style="float: left; color:#054e77;">@Model.PartTime</span> </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br />

    <span style="font-size:13pt; font-weight:bold; color:#054e77; float:left">Situation des Inscriptions</span>
    <br />
    <table style="color:#E9ECEF; border: 1px solid #e9ecef" class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="color:#054e77">Année Accademique</th>
                <th scope="col" style="color:#054e77">Département</th>
                <th scope="col" style="color:#054e77">Année</th>
                <th scope="col" style="color:#054e77">Date d'inscription</th>
                <th scope="col" style="color:#054e77">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" style="color:#054e77">@Model.AccademicYear</td>
                <td style="color:#054e77">@Model.Course</td>
                <td style="color:#054e77">@Model.CurrentYear</td>
                <td style="color:#054e77">@Model.EnrollmentYear</td>
                <td style="color:#054e77">En cours</td>
            </tr>
        </tbody>
    </table>
}



