@model Gamal.ViewModel.StudentFacultyViewModel
@{
    ViewData["Title"] = "StudentFacultyInfos";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}


@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{
}

@section middlePanelHeader{
}

@section middlePanelBody
{
    <br />
    <div style="">
        <div class="card">
            <div align="center">
                <span style="font-size:15pt;color:#054e77;">Inscription des Etudiants</span>
                <div class="row align-items-center align-self-center justify-content-center" style="padding:0px">
                    <div class=" col-sm-4 col-lg-4" style="padding:0px">
                        <div class="card h-25 w-25" style="background-color:#25587E; padding:0px">
                            <div class="card-body" style="padding:0px">
                                <span style="font-size:15pt; color:white; font-weight:bold; font-family:'Times New Roman'">Phase 4/4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @if (!String.IsNullOrEmpty(@ViewBag.ErrorMessage))
            {
                <span style="font-size:15pt; color:red">@ViewBag.ErrorMessage</span><br />
            }
                <div class="row" style="padding-left:7%">
                    <div class="col-md-11">
                        <form method="post">
                            <div class="form-group">
                                <input asp-for="SerialNumber" class="form-control fr-date-datepicker" placeholder="Inserer le numero de matricule">
                                <span asp-validation-for="SerialNumber" class="text-danger" style="float:left"></span>
                            </div>
                            <div class="form-group">
                                <select id="FacultyId" asp-for="Faculty" class="form-control" asp-items="Model.AllFaculties">
                                    @*<option value="">Select Faculty</option>*@
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="DepartementId" asp-for="Department" class="form-control" asp-items="Model.AllDepartments">
                                    @*<option value="">Select Department</option>*@
                                </select>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.StudentProfile, Model.StudentProfiles as SelectList, "Selectioner le profile de l'étudiant", new { @class = "form-control" })
                                <span asp-validation-for="StudentProfile" class="text-danger" style="float:left"></span>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.CurrentYear, Model.AllCurrentYears as SelectList, "Selectioner l'année courante", new { @class = "form-control" })
                                <span asp-validation-for="CurrentYear" class="text-danger" style="float:left"></span>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.PartTime, Model.PartTimes as SelectList, "Etudiant PartTime", new { @class = "form-control" })
                                <span asp-validation-for="PartTime" class="text-danger" style="float:left"></span>
                            </div>
                            <button type="submit" name="button" value="first" class="btn1 btn btn-primary" style="float:left">Precedent</button>
                            <button type="submit" name="button" value="second" class="btn1 btn btn-primary" style="float: right">Inscrire</button>
                        </form>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts{

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FacultyId').change(function () {
                $.get("/StudentRegistration/GetDepartmentById", { facultyCode: $('#FacultyId').val() }, function (data) {
                    $('#DepartementId').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#DepartementId').append('< option value = "" >' + data[i] + '</option >');
                        $('#DepartementId').append($('<option></option>').val(data[i]).html(data[i]));
                    }
                });
            });
        });
    </script>
}

